body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 32);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* GAME SECTION */
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}*/
/* GAME SECTION_game board */
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    width: 320px;
    margin: 0 auto;
    flex-grow: 1;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(55, 55, 63);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* GAME SECTION_crosses and toes */
.cell.x::before {
    content: "X";
    font-size: 90px;
    text-shadow: 0 0 50px rgba(243, 162, 162, 0.8);
}

.cell.o::before {
    content: "O";
    font-size: 90px;
    text-shadow: 0 0 50px rgba(0, 0, 255, 0.8);
}

/* FOOTER */
.footer {
    background-color: rgb(36, 36, 41);
    margin-top: auto;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer-img {
    filter: invert();
}